<article class="example">
  <h1>HTML-фрагменты</h1>

  <!-- Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
  <img src="images/demo.jpg" alt="" width="320" />
  <p>
    Плагин
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
    позволяет добавлять в HTML-файлы страниц код из других HTML-файлов (фрагментов). Фрагменты
    хранятся в папке
    <code>src/partials</code>. Добавление происходит при компиляции файлов страниц, например
    <code>index.html</code>.
  </p>

  <p>
    Этот файл <code>example.html</code> &mdash; пример такого фрагмента, с разметкой определённой
    части главной страницы. Это очень удобно при командной разработке на студенческих проектах,
    когда в одном HTML-файле пишет несколько человек сразу.
  </p>

  <p>
    Синтаксис добавление фрагмента в главный файл:
    <code> &lt;include src="./partials/имя-файла.html"&gt;&lt;/include&gt; </code>
  </p>

  <div class="background"></div>

  <button type="button" data-start>Start</button>
  <button type="button" data-stop>Stop</button>

  <input type="date" id="date-selector" />
<button type="button" data-start1>Start countdown</button>

<div class="timer">
  <div class="field">
    <span class="value" data-days>11</span>
    <span class="label">Days</span>
  </div>
  <div class="field">
    <span class="value" data-hours>11</span><span class="label">Hours</span>
  </div>
  <div class="field">
    <span class="value" data-minutes>11</span>
    <span class="label">Minutes</span>
  </div>
  <div class="field">
    <span class="value" data-seconds>11</span>
    <span class="label">Seconds</span>
  </div>
</div>

</article>
